body {
    font-family: 'Roboto', sans-serif;
  }
  h2 {
    font-family: 'Playfair Display', serif;
  }
  .basket-item img {
    width: 100%;
    height: 200px;
    border-radius: 8px;
  }
  .basket-item {
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 15px;
    margin-left: 5px;
    padding-bottom: 15px;
  }
  .order-summary {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
  }
  .order-summary h2 {
    margin-bottom: 20px;
  }
  .order-summary .row p {
    margin: 0;
  }
  .btn-payment {
    margin-top: 20px;
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
  }
  .btn-payment:hover {
    background-color: #0056b3;
  }

  .ptice {
    position: relative;

  }

  .pos {
    position: absolute;
    top: 100px;
    right: 15px;

  }

.onion{
   width: 150px;
   height: 150px;
}

.kg-price{
    color: rgb(214, 128, 24);
    font-size: medium;
    font-weight: 400;
}